{% extends 'base.html' %}
{% block title %} - Email Stats {% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center p-3">Email Statistics</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            Total Emails Sent: {{total_sent}} <br>
                            Sent at: {{email.sent_at}}
                        </div>
                        <div class="col-md-6 text-end">
                            Opened: <b>{{ email.open_rate }}%</b> <br>
                            Clicked: <b>{{ email.click_rate }}%</b>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4>{{ email.subject }}</h4>
                    <div class="mail-body">
                        {{ email.body | safe }}
                    </div>
                    {% if email.attachement %}
                        <div class="attachement text-center">
                            <img src="{{ email.attachement.url }}" alt="Email attachement" width="50%">
                        </div>
                    {% else %}
                        <div class="no-attachement">
                            <p>No attachement</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}