{% extends 'base.html' %}
{% block title %} - Register {% endblock %}
{% block body %}
    {% load crispy_forms_tags %}
    <div class="container mt-4 p-3 shadow rounded" style="max-width: 600px;">
        <h2 class="text-center">Register</h2>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="p-15px">
                {{ form | crispy }}
            </div>
            <div class="p-15px">
                <input type="submit" value="Register" class="btn btn-success mx-auto d-block">
            </div>
            {% include 'alerts.html' %}
        </form>
    </div>
{% endblock %}