{% extends 'base.html' %}
{% block title %} - Image compression {% endblock %}
{% block body %}
{% load crispy_forms_tags %}
    <div class="container mt-5 p-3 shadow rounded" style="max-width: 700px;">
        <h2 class="text-center">Compress Images</h2>
        <form action="{% url 'compress' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form | crispy }}
            </div>
            <div class="text-center">
                <input type="submit" value="Compress" class="btn btn-primary" />
            </div>
        </form>
        {% include 'alerts.html' %}
    </div>
{% endblock %}